.entranceAddEmployee {
	animation: fadeInRightBig .5s ease;
}

.newEmployee {
	width: 100%;

	background: url("../../images/background.jpg"), rgba(255, 255, 255, .6);
	background-blend-mode: screen;

	&-form {
		@include flexCenter;
		flex-direction: column;

		input,
		select,
		textarea {
			margin: .5rem;
			height: 3rem;
			width: 40%;
			border: 2px solid rgba(203, 53, 107, .2);
			border-radius: .4rem;
			padding: 1rem;
			font-size: 1rem;
			font-weight: 900;
			color: rgba(0, 0, 0, .6);

			@include respond(phone) {
				width: 85%;
				font-size: 1rem;
				height: 4rem;
				margin: 1rem;
				font-weight: 700;
			}

			&:focus {
				outline: none;
			}

			&::placeholder {
				color: rgba(0, 0, 0, .6);
			}
		}

		select {
			padding: 0 .8rem;
			height: 3rem;
			width: 40%;

			@include respond(phone) {
				width: 85%;
				height: 4rem;
			}
		}

		textarea {
			resize: none;
			height: 5rem;
		}
	}

	&-text {
		position: relative;
		text-align: center;
		margin: 2rem .5rem;

		@include respond(phone) {
			margin-top: 2rem;
		}

		&-background {
			@include absoluteCenter;

			color: $color-pink;
			bottom: -1rem;
			font-size: 4rem;
			opacity: 0.05;
			letter-spacing: -.4rem;
			user-select: none;
			width: 100%;

			@include respond(phone) {
				font-size: 2.5rem;
			}
		}

		&-header {
			font-size: 2rem;
			color: $color-pink;
			text-align: center;
		}
	}
}

.expertise-list {
	font-size: 1.2rem;
	color: $color-pink;

	@include respond(phone) {
		font-size: .9rem;
	}
}

.preview {
	&-text {
		text-align: center;
		font-size: 1.2rem;
		color: $color-pink;
		margin-bottom: 1rem;
	}

	&-avatar {
		border-radius: 50%;
		width: 10rem;
		height: 10rem;
	}
}
