.departments-container {
	width: 100%;

	.departments {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 3rem;

		&__success {
			background-color: green;
			margin: 2rem 0;
			color: white;
			text-align: center;
			padding: 1rem;
		}

		&__error {
			background-color: red;
			margin: 2rem 0;
			color: white;
			text-align: center;
			padding: 1rem;
		}

		&__add {
			width: 100%;
			margin-top: 4rem;

			form {
				div {
					width: 100%;
					display: flex;
					justify-content: center;

					input,
					select {
						padding: .5rem;
						width: 100%;
						border: 1px solid rgba(0, 0, 0, .1);
						border-right: none;

						&:focus {
							outline: none;
						}
					}

					select {
						border-right: 1px solid rgba(0, 0, 0, .1);
					}

					button {
						padding: .1rem;
						width: 2rem;
						margin-left: .3rem;
						margin-right: .3rem;
						@include flexCenter;
						border: none;
						background-color: white;
						color: green;
						cursor: pointer;
						font-size: 2rem;

						&:focus {
							outline: none;
						}
					}
				}
			}
		}

		&__title {
			margin-bottom: 1rem;
		}

		&__department {
			width: 100%;

			& > div {
				width: 100%;
			}

			&--name {
				width: 100%;
				margin-bottom: .4rem;
				color: rgba(0, 0, 0, .6);
				border-bottom: 1px solid rgba(0, 0, 0, .1);
				background-color: rgba(24, 40, 72, .8);
				color: white;

				&__name {
					font-size: 1.2rem;
					font-weight: 700;
					text-align: center;
					padding: 0.4rem;
				}

				div {
					text-align: center;
					padding: .4rem;
				}

				input,
				select {
					text-align: center;
					width: 100%;
					padding: .4rem;
					border: none;
					border-bottom: 1px solid rgba(0, 0, 0, .1);
					font-size: 1.2rem;
					font-weight: 700;
					color: rgba(0, 0, 0, .6);

					&::placeholder {
						color: rgba(0, 0, 0, .3);
					}

					&:focus {
						outline: none;
					}
				}
			}

			&--location {
				width: 100%;
				margin-bottom: .4rem;
				color: rgba(0, 0, 0, .6);
				text-align: center;
			}

			&--employees {
				text-align: center;
				padding: 1rem 0;
				background-color: rgba(0, 0, 0, .03);

				&__title {
					color: rgba(0, 0, 0, .5);
				}

				&__department {
					text-transform: capitalize;
				}
			}

			&--controls {
				padding: .4rem;
				margin-bottom: 1rem;
				display: flex;
				justify-content: space-between;
				border-bottom: 3px dashed rgba(0, 0, 0, .04);

				div {
					@include flexCenter;
				}

				button {
					border: none;
					padding: .4rem;
					margin-right: .2rem;
					color: rgba(44, 5, 77, 0.8);
					font-size: 1.2rem;
					border-radius: .2rem;
					background-color: transparent;
					cursor: pointer;

					&:focus {
						outline: none;
					}
				}

				i {
					font-size: 1.5rem;
				}

				.cancel + i {
					color: red;
				}

				.edit + i {
					color: green;
				}

				.update + i {
					color: green;
				}

				.delete + i {
					color: red;
				}
			}
		}
	}
}
