.departments-container {
	width: 100%;

	.departments {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		grid-gap: 2rem;
		width: 90%;
		margin: 0 auto;
		margin-top: 3rem;

		@include respond(phone) {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin: 0 auto;
			margin-top: 3rem;
			grid-gap: 0;
		}

		&--location {
			color: rgba(0, 0, 0, .8);
			background-color: rgba(24, 40, 72, .05);
			padding: .5rem;
		}

		&__add {
			width: 100%;
			margin-top: 4rem;

			form {
				div {
					width: 100%;
					display: flex;
					justify-content: center;

					@include respond(phone) {
						flex-direction: column;
						align-items: center;
						margin: 0 auto;
					}

					input,
					select {
						padding: .5rem;
						border: 1px solid rgba(0, 0, 0, .1);
						border-right: none;
						width: 20%;

						@include respond(phone) {
							width: 80%;
						}

						&:focus {
							outline: none;
						}
					}

					select {
						border: none;
					}

					button {
						padding: .1rem;
						width: 2rem;
						margin-left: .3rem;
						margin-right: .3rem;
						@include flexCenter;
						border: none;
						background-color: white;
						color: green;
						cursor: pointer;
						font-size: 2rem;

						&:focus {
							outline: none;
						}
					}
				}
			}
		}

		&__title {
			margin-bottom: 1rem;
		}

		&__department {
			width: 100%;
			min-height: 5rem;
			border: 1px solid rgba(0, 0, 0, .1);
			box-shadow: 1rem .1rem 1rem rgba(0, 0, 0, .1);
			@include flexCenter;
			overflow: hidden;

			@include respond(phone) {
				box-shadow: 0;
				border-bottom: 1px solid rgba(0, 0, 0, .1);
			}

			& > div {
				width: 100%;
				display: flex;
				justify-content: space-around;
				min-height: 5rem;
			}

			&--name {
				width: 100%;
				color: rgba(0, 0, 0, .6);
				@include flexCenter;
				flex-direction: column;

				@include respond(phone) {
					border-radius: 0;
				}

				&__x {
					color: rgba(0, 0, 0, .2);
					cursor: pointer;
					position: absolute;
					top: .6rem;
					left: .2rem;
				}

				&__name {
					@include flexCenter;
					font-size: 1rem;
				}

				div {
					text-align: center;
					padding: .4rem;
				}

				input {
					text-align: center;
					width: 100%;
					padding: .4rem;
					border: none;
					border-bottom: 1px solid rgba(0, 0, 0, .1);
					font-size: 1rem;
					color: rgba(0, 0, 0, .6);
					min-height: 2.5rem;

					&::placeholder {
						color: rgba(0, 0, 0, .3);
					}

					&:focus {
						outline: none;
					}
				}

				select {
					border-bottom: 1px solid rgba(0, 0, 0, .1);
					font-size: 1rem;
					width: 100%;
					border: none;
					padding: .4rem;
					min-height: 2.5rem;

					&:focus {
						outline: none;
					}
				}
			}

			&--employees {
				text-align: center;
				background-color: white;
				padding: 1.3rem;
				@include flexCenter;

				&__title {
					color: rgba(0, 0, 0, .5);
				}

				&__department {
					text-transform: capitalize;
				}
			}

			&--controls {
				display: flex;
				justify-content: space-between;
				background-color: white;

				div {
					padding: 0 1rem;
					@include flexCenter;
					cursor: pointer;
				}

				i {
					font-size: 2rem;
				}

				.cancel-container {
					color: red;
				}

				.edit-container,
				.update-container {
					color: green;
				}
			}
		}
	}
}
