.entranceEmployee {
	animation: fadeInRightBig .5s ease;
}

.employee_container {
	width: 100%;

	@include respond(phone) {
		overflow: hidden;
	}
}

.employee {
	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: url("../../images/background.jpg"), rgba(255, 255, 255, .7);
		background-blend-mode: screen;
		background-position: center;
		background-size: cover;

		span {
			background-color: rgba(255, 255, 255, .85);
			color: $color-pink;
			padding: .4rem;
			font-size: 1.1rem;
			border-radius: .3rem;

			@include respond(phone) {
				font-size: .7rem;
				padding: .2rem;
			}
		}

		&--avatar {
			@include flexCenter;

			width: 30rem;
			height: 30rem;
			background-color: $color-pink;
			color: white;
			border-radius: 50%;
			font-size: 3.4rem;
			margin: 2rem;
			margin-top: 4rem;
			position: relative;
			z-index: 2;
			overflow: hidden;

			@include respond(phone) {
				margin-bottom: 1rem;
				width: 14rem;
				height: 14rem;
			}

			.rotated-square {
				border: 4px solid rgba(255, 255, 255, .2);
				width: 80%;
				height: 80%;
				position: absolute;
				z-index: -1;

				&-1 {
					transform: rotate(22.5deg);
				}

				&-2 {
					transform: rotate(67.5deg);
				}
			}

			img {
				max-width: 50%;
				max-height: 50%;
				border-radius: 50%;
				border: 5px solid white;
				z-index: 3;

				@include respond(phone) {
					width: 10rem;
					height: 10rem;
				}
			}
		}

		&--middle {
			margin: 0 2rem;
			padding: 1rem;
			color: white;

			&-fullname {
				font-weight: 800;
				font-size: 4.5rem;
				text-transform: capitalize;
				font-family: 'Lobster', cursive;
				color: $color-pink;
				max-width: 60rem;
				overflow: hidden;
				text-align: center;
				z-index: 3;

				@include respond(phone) {
					font-size: 1.5rem;
				}
			}

			&-department {
				font-weight: 600;
				font-size: 1.8rem;
				color: $color-pink;
				opacity: .88;
				text-align: center;

				@include respond(phone) {
					font-size: 1rem;
				}
			}

			&-employeeID {
				padding: .5rem 0;
			}

			&-available {
				text-align: center;
				text-transform: uppercase;
				color: white;

				@include respond(phone) {
					display: none;
				}
			}
		}

		&--right {
			color: white;
			font-size: 1.2rem;
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			position: relative;
			bottom: 0;
			background-color: rgba(24, 40, 72, .7);

			@include respond(phone) {
				font-size: .6rem;
			}
		}
	}
}

.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: #182848;
	position: fixed;
	z-index: 1000;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1700px;

	&__editing {
		background-color: #56ab2f;
	}

	.cancel,
	.edit,
	.save {
		border: none;
		background-color: transparent;
		color: white;
		margin: 1rem;
		font-size: 1rem;
		cursor: pointer;

		&:focus {
			outline: none;
		}
	}

	.home-link {
		padding: .2rem .5rem;
		display: flex;
		text-decoration: none;
		color: white;
		@include flexCenter;
		height: 100%;

		&--icon {
			font-size: 1.6rem;
			margin-right: .5rem;
		}

		&--text {
			@include flexCenter;
			height: 100%;
		}
	}
}

.employee-section-container {
	width: 100%;
	margin-top: 3rem;

	.employee-text {
		position: relative;
		text-align: center;
		margin-bottom: 2rem;

		@include respond(phone) {
			display: none;
		}

		&-background {
			@include absoluteCenter;
			color: #182848;
			bottom: -2rem;
			font-size: 5rem;
			opacity: 0.05;
			letter-spacing: -.4rem;
			user-select: none;
			width: 100%;

			@include respond(phone) {
				font-size: 3rem;
				bottom: -1.3rem;
			}
		}

		&-header {
			font-size: 2rem;
			color: #182848;
			text-align: center;

			@include respond(phone) {
				font-size: 1rem;
			}
		}
	}

	.input--static {
		grid-template-columns: 1fr !important;
		padding-left: .6rem !important;
		width: 100% !important;
		margin-left: .3rem;

		@include respond(phone) {
			padding-left: .2rem !important;
		}

		&--bio {
			background: linear-gradient(to right, $color-pink, #203a43, #2c5364);
			border-radius: 1rem;
			color: white;
			padding: 1rem;
			@include respond(phone) {
				padding: 1rem !important;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		&--link {
			color: #0082c8;
		}
	}

	.field--guidance {
		text-align: left;
		padding: .5rem;
		margin-left: 1rem;
		background-color: #182848;
		font-size: 0.9rem;
		color: white;
		width: 95%;
		grid-template-columns: 1fr !important;

		@include respond(phone) {
			margin-left: .2rem;
		}
	}

	.employee-horizontal {
		background-color: #182848;
		width: 12rem;
		height: .4rem;
		border: none;
		margin: 2rem auto;

		@include respond(phone) {
			display: none;
		}
	}

	.employee-section {
		width: 60%;
		margin: 0 auto;

		@include respond(phone) {
			width: 100%;
		}

		&__inputs {
			width: 100%;

			> div {
				display: grid;
				grid-template-columns: 0.3fr 1fr;
				margin-bottom: 1rem;

				@include respond(phone) {
					align-items: center;
					margin-bottom: 0;
					padding: 0;
				}

				.icon {
					@include flexCenter;
					margin: 1rem;

					font-size: 2.2rem;
					background-color: white;
					color: #182848;
					padding: .5rem;

					@include respond(phone) {
						font-size: 1.6rem;
					}

					img {
						max-width: 100%;
						max-height: 100%;
						border-radius: 50%;
					}
				}

				.field {
					display: flex;
					flex-direction: column;
					position: relative;

					&--input {
						position: relative;
					}

					&--x {
						position: absolute;
						text-align: right;
						color: rgba(0, 0, 0, .2);
						cursor: pointer;

						top: 46%;
						transform: translateY(-50%);
						right: 2rem;
						z-index: 100;

						@include respond(phone) {
							right: 1.5rem;
						}

						@include respond(tab) {
							right: 2.5rem;
						}
					}
				}
			}

			> div {
				border-bottom: 1px solid rgba(203, 53, 107, .05);
			}

			label {
				padding: 1rem;
				color: black;
				width: 100%;
				text-transform: capitalize;
				font-weight: 500;
				font-size: 1.5rem;

				@include respond(phone) {
					padding: .5rem;
					font-size: 1rem;
					text-align: left;
					background-color: white;
				}
			}

			input,
			textarea {
				width: 95%;
				padding: .5rem;
				padding-right: 2rem;
				border: none;
				text-align: left;
				font-size: 1.1rem;
				color: rgba(0, 0, 0, 8);
				resize: none;
				border: 1px solid #56ab2f;
				margin-left: 1rem;
				position: relative;

				@include respond(phone) {
					padding: .5rem;
					padding-right: 2rem;
					margin-left: .2rem;
					color: rgba(0, 0, 0, .4);
				}

				&::placeholder {
					font-size: .8rem;
					color: rgba(0, 0, 0, .5);
				}

				&:focus {
					outline: none;
				}
			}

			select {
				width: 95%;
				padding: .5rem;
				margin-left: 1rem;
				border: none;
				position: relative;

				@include respond(phone) {
					padding: .5rem;
					margin-left: .2rem;
				}

				&:focus {
					outline: none;
				}
			}

			.biography {
				height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
				margin-left: .1rem;

				@include respond(phone) {
					margin-left: 0;
				}

				&__head {
					display: grid !important;
					grid-template-columns: 0.3fr 1fr !important;
					padding: 0 !important;
					margin: 0 !important;
					width: 100%;

					i {
						@include flexCenter;
					}
				}

				&__field {
					width: 100%;
					display: grid;
					grid-template-columns: 0.3fr 1fr;
				}

				label {
					width: 100%;
					padding: 1rem;
					text-align: left;

					@include respond(phone) {
						padding: .5rem;
						color: rgba(0, 0, 0, .6);
						border: none;
					}
				}

				textarea {
					width: 95%;
					min-height: 7rem;
					padding: 0 1rem;
					margin: 0 .9rem;
					color: rgba(0, 0, 0, .7);
					letter-spacing: .1rem;
					border: 1px solid #56ab2f;
					padding: 1rem 0;
					z-index: 1;
					padding-left: 1rem !important;

					@include respond(phone) {
						margin: 0 .2rem;
					}
				}
			}
		}
	}
}

#skillset {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
	padding: .3rem;

	.skill {
		@include flexCenter;
		background-color: $color-blue;
		text-transform: uppercase;
		border-radius: .2rem;
		color: white;
		margin-right: .2rem;
		margin-bottom: .2rem;
	}
}

.edit-controls {
	display: flex;
	justify-content: center;
}
