.entranceEmployee {
	animation: fadeInRightBig .5s ease;
}

.employee_container {
	width: 100%;

	@include respond(phone) {
		overflow: hidden;
	}
}

.employee {
	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: url("../../images/background.jpg"), rgba(255, 255, 255, .7);
		background-blend-mode: screen;
		background-position: center;
		background-size: cover;

		span {
			background-color: rgba(255, 255, 255, .85);
			color: $color-pink;
			padding: .4rem;
			font-size: 1.1rem;
			border-radius: .3rem;

			@include respond(phone) {
				font-size: .7rem;
				padding: .2rem;
			}
		}

		&--avatar {
			@include flexCenter;

			width: 30rem;
			height: 30rem;
			background-color: $color-pink;
			color: white;
			border-radius: 50%;
			font-size: 3.4rem;
			margin: 2rem;
			position: relative;
			z-index: 2;
			overflow: hidden;

			@include respond(phone) {
				margin: 0;
				width: 100%;
				wodth: 20rem;
				height: 20rem;
				border-radius: 0;
			}

			.rotated-square {
				border: 4px solid rgba(255, 255, 255, .2);
				width: 80%;
				height: 80%;
				position: absolute;
				z-index: -1;

				&-1 {
					transform: rotate(22.5deg);
				}

				&-2 {
					transform: rotate(67.5deg);
				}
			}

			img {
				max-width: 50%;
				max-height: 50%;
				border-radius: 50%;
				border: 5px solid white;
				z-index: 3;

				@include respond(phone) {
					max-width: 80%;
					max-height: 80%;
				}
			}
		}

		&--middle {
			margin: 0 2rem;
			padding: 1rem;
			color: white;

			&-fullname {
				font-weight: 800;
				font-size: 4.5rem;
				text-transform: capitalize;
				font-family: 'Lobster', cursive;
				color: $color-pink;
				max-width: 60rem;
				overflow: hidden;
				text-align: center;
				z-index: 3;

				@include respond(phone) {
					font-size: 2rem;
				}
			}

			&-department {
				font-weight: 600;
				font-size: 1.8rem;
				color: $color-pink;
				opacity: .88;
				text-align: center;

				@include respond(phone) {
					font-size: 1.4rem;
				}
			}

			&-employeeID {
				padding: .5rem 0;
			}

			&-available {
				text-align: center;
				text-transform: uppercase;
				color: white;

				@include respond(phone) {
					display: none;
				}
			}
		}

		&--right {
			color: white;
			font-size: 1.2rem;
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			position: relative;
			bottom: 0;
			background-color: rgb(236, 206, 201);

			@include respond(phone) {
				font-size: .6rem;
			}
		}
	}
}

.controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: rgba(236, 206, 201, .4);
}

.employee-section-container {
	width: 100%;
	margin-top: 5rem;

	.employee-text {
		position: relative;
		text-align: center;
		margin-bottom: 2rem;

		&-background {
			@include absoluteCenter;
			color: $color-pink;
			bottom: -2rem;
			font-size: 5rem;
			opacity: 0.05;
			letter-spacing: -.4rem;
			user-select: none;
			width: 100%;

			@include respond(phone) {
				font-size: 4rem;
			}
		}

		&-header {
			font-size: 2rem;
			color: $color-pink;
			text-align: center;
		}
	}

	.employee-horizontal {
		background-color: rgba(203, 53, 107, .8);
		width: 12rem;
		height: .4rem;
		border: none;
		margin: 2rem auto;
	}

	.employee-section {
		width: 60%;
		margin: 0 auto;

		@include respond(phone) {
			width: 100%;
		}

		&__inputs {
			width: 100%;

			div {
				display: flex;
				justify-content: space-evenly;
				margin-bottom: 1rem;
				padding: .4rem;

				@include respond(phone) {
					flex-direction: column;
					align-items: center;
				}
			}

			label {
				background-color: $color-pink-light;
				padding: 1rem;
				color: white;
				width: 50%;
				text-transform: uppercase;
				border-top-left-radius: 1.4rem;
				border-bottom-left-radius: 1.4rem;

				@include respond(phone) {
					width: 100%;
					padding: .5rem;
					border-bottom-left-radius: 0;
					border-top-left-radius: 1.4rem;
					border-top-right-radius: 1.4rem;
					text-align: center;
					background-color: rgba(203, 53, 107, .4);
				}
			}

			input,
			textarea {
				width: 50%;
				border: 1px solid rgba(203, 53, 107, .2);
				text-align: center;
				font-size: 1.1rem;
				color: rgba(0, 0, 0, 8);
				border-top-right-radius: 1.4rem;
				border-bottom-right-radius: 1.4rem;
				resize: none;

				@include respond(phone) {
					width: 100%;
					padding: .9rem 0;
					border-radius: 0;
					border: 1px solid rgba(203, 53, 107, .05);
				}

				&:focus {
					outline: none;
				}
			}

			.biography {
				flex-direction: column;
				justify-content: space-around;
				align-items: center;
				height: 100%;
				position: relative;
				overflow: hidden;

				.quotemark {
					position: absolute;
					top: -5rem;
					left: 0;
					font-size: 30rem;
					transform: rotate(10deg);
					color: $color-blue;
					font-family: 'Lobster', cursive;
					z-index: -1;
					opacity: .1;

					@include respond(phone) {
						font-size: 25rem;
						top: -3.5rem;
						left: -1rem;
					}
				}

				label {
					width: 100%;
					padding: 1rem 0;
					text-align: center;
					border-bottom-left-radius: 0;
					border-top-right-radius: 1.4rem;
					background-color: rgba(203, 53, 107, .5);

					@include respond(phone) {
						padding: 0.5rem;
						border-radius: 0;
						border-top-left-radius: 1.4rem;
						border-top-right-radius: 1.4rem;
						background-color: rgba(203, 53, 107, .4);
					}
				}

				textarea {
					width: 100%;
					min-height: 7rem;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					padding: 0;
					color: rgba(0, 0, 0, .7);
					font-family: 'Lobster', cursive;
					letter-spacing: .1rem;
					border: none;
					border-bottom: 1px solid rgba(0, 0, 0, .1);
					background-color: transparent;
					padding: 1rem 0;
					z-index: 1;
				}
			}
		}
	}
}

.skillset {
	justify-content: center !important;

	.skill {
		background-color: $color-blue;
		text-transform: uppercase;
		border-radius: .2rem;
		color: white;
		margin-right: .7rem;
	}
}

.edit-controls {
	display: flex;
	justify-content: center;
}
