.locations-container {
	width: 100%;

	.locations {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 3rem;

		&__success {
			background-color: green;
			margin: 2rem 0;
			color: white;
			text-align: center;
			padding: 1rem;
		}

		&__error {
			background-color: red;
			margin: 2rem 0;
			color: white;
			text-align: center;
			padding: 1rem;
		}

		&__add {
			width: 100%;
			margin-top: 4rem;

			form {
				width: 100%;
				display: flex;
				justify-content: center;

				input {
					padding: .5rem;
					border: 1px solid rgba(0, 0, 0, .1);
					border-right: none;
					width: 80%;

					&:focus {
						outline: none;
					}
				}

				button {
					padding: .2rem .4rem;
					border: none;
					color: green;
					font-size: 2rem;
					cursor: pointer;

					&:focus {
						outline: none;
					}
				}
			}
		}

		&__title {
			margin-bottom: 1rem;
		}

		&__location {
			width: 100%;

			& > div {
				width: 100%;
			}

			&--name {
				width: 100%;
				margin-bottom: .4rem;
				color: rgba(0, 0, 0, .6);
				border-bottom: 1px solid rgba(0, 0, 0, .1);
				background-color: rgba(24, 40, 72, .8);
				color: white;

				&__name {
					font-size: 1.2rem;
					font-weight: 700;
					text-align: center;
				}

				div {
					text-align: center;
					padding: .4rem;
				}

				input {
					text-align: center;
					width: 100%;
					padding: .4rem;
					border: none;
					border-bottom: 1px solid rgba(0, 0, 0, .1);
					font-size: 1.2rem;
					font-weight: 700;
					color: rgba(0, 0, 0, .6);

					&::placeholder {
						color: rgba(0, 0, 0, .3);
					}

					&:focus {
						outline: none;
					}
				}
			}

			&--departments {
				text-align: center;
				padding: 1rem 0;
				background-color: rgba(0, 0, 0, .03);

				&__title {
					color: rgba(0, 0, 0, .5);
				}

				&__department {
					text-transform: capitalize;
				}
			}

			&--controls {
				padding: .4rem;
				margin-bottom: 1rem;
				display: flex;
				justify-content: space-between;
				border-bottom: 3px dashed rgba(0, 0, 0, .04);

				div {
					@include flexCenter;
				}

				button {
					border: none;
					padding: .4rem;
					margin-right: .2rem;
					color: rgba(44, 5, 77, 0.8);
					font-size: 1.2rem;
					border-radius: .2rem;
					background-color: transparent;
					cursor: pointer;

					&:focus {
						outline: none;
					}
				}

				i {
					font-size: 1.5rem;
				}

				.cancel + i {
					color: red;
				}

				.edit + i {
					color: green;
				}

				.update + i {
					color: green;
				}

				.delete + i {
					color: red;
				}
			}
		}
	}
}

.Item {
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	background-color: #fff;
	height: 100%;
	display: flex;
}

.BouncingListItem {
	transition: transform 0.5s ease-out;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	background-color: #fff;
	height: 100%;
	display: flex;
}

.Background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-size: 2rem;

	padding-right: 16px;
	color: white;
	background-color: $color-cancel;
	box-sizing: border-box;
}

.Wrapper {
	position: relative;
	transition: max-height 0.5s ease;
	max-height: 1000px;
	transform-origin: top;
	overflow: hidden;
	width: 100%;
}
