.locations-container {
	width: 100%;

	.locations {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		grid-gap: 2rem;

		width: 90%;
		margin: 0 auto;
		margin-top: 3rem;

		@include respond(phone) {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin: 0 auto;
			margin-top: 3rem;
			grid-gap: 0;
		}

		&__add {
			width: 100%;
			margin-top: 4rem;

			form {
				width: 100%;
				display: flex;
				justify-content: center;

				input {
					padding: .5rem;
					border: 1px solid rgba(0, 0, 0, .1);
					border-right: none;
					width: 30%;

					@include respond(phone) {
						width: 80%;
					}

					&:focus {
						outline: none;
					}
				}

				button {
					padding: .2rem .4rem;
					border: none;
					color: green;
					font-size: 2rem;
					cursor: pointer;
					background-color: transparent;

					&:focus {
						outline: none;
					}
				}
			}
		}

		&__title {
			margin-bottom: 1rem;
		}

		&__location {
			width: 100%;
			border: 1px solid rgba(0, 0, 0, .1);
			box-shadow: 1rem .1rem 1rem rgba(0, 0, 0, .1);
			min-height: 15rem;
			@include flexCenter;
			overflow: hidden;

			@include respond(phone) {
				border: none;
				border-bottom: 1px solid rgba(0, 0, 0, .1);
				box-shadow: 0;
				min-height: 0;
			}

			& > .normal {
				width: 100%;
				display: grid;
				grid-template-columns: 0.5fr 0.8fr 0.2fr;
				height: 100%;
			}

			& > .editing {
				width: 100%;
				display: flex;
			}

			&--name {
				width: 100%;
				color: rgba(0, 0, 0, .6);
				@include flexCenter;

				&__x {
					color: rgba(0, 0, 0, .2);
					cursor: pointer;
					position: absolute;
					top: 48%;
					transform: translateY(-50%);
					left: .2rem;
				}

				&__name {
					font-size: 1rem;
					text-align: center;
				}

				div {
					text-align: center;
					padding: .4rem;
				}

				input {
					text-align: center;
					width: 100%;
					padding: .4rem;
					border: none;
					font-size: 1rem;
					color: rgba(0, 0, 0, .6);
					min-height: 5rem;

					&::placeholder {
						color: rgba(0, 0, 0, .3);
					}

					&:focus {
						outline: none;
					}
				}
			}

			&--departments {
				text-align: center;
				padding: 1rem 0;

				@include respond(phone) {
					min-height: 0;
				}

				&__title {
					color: rgba(0, 0, 0, .5);
				}

				&__department {
					text-transform: capitalize;
				}
			}

			&--controls {
				display: flex;
				justify-content: space-between;
				background-color: white;

				div {
					padding: 0 1rem;
					@include flexCenter;
					cursor: pointer;
				}

				i {
					font-size: 2rem;
					background-color: transparent;
				}

				.cancel-container {
					color: red;
				}

				.edit-container,
				.update-container {
					color: green;
				}
			}
		}
	}
}
