.container {
	display: flex;
	justify-content: space-between;
	max-width: 1700px;
	margin: 0 auto;
	border-right: 3px solid white;
	border-left: 3px solid white;
	box-shadow: 0rem 1rem 4rem rgba(203, 53, 107, .4);
	min-height: 100vh;
}
