.employees-container {
	display: flex;
	flex-direction: column;
	width: 100%;

	label {
		display: flex;
		justify-content: center;
		font-size: 1.6rem;
		margin: 1rem;
		font-weight: 700;
		color: white;
	}
}

.filters {
	display: flex;

	@include respond(phone) {
		flex-direction: column;
		align-items: center;
		width: 90%;
	}

	label {
		color: black;
		font-size: .9rem;
		margin: .2rem 0;
		text-align: left;
		text-transform: uppercase;

		@include respond(phone) {
			font-size: .7rem;
		}
	}

	input,
	select {
		border: none;
		width: 10rem;
		text-align: left;
		margin-left: 0;

		@include respond(phone) {
			width: 100%;
		}

		&::placeholder {
			color: rgba(0, 0, 0, .5);
		}

		&:focus {
			outline: none;
			background-color: transparent;
		}
	}

	select {
		width: 12rem;

		@include respond(phone) {
			width: 100%;
		}
		option {
			color: rgba(0, 0, 0, .7);
		}
	}

	button {
		height: 100%;
		width: 6rem;
		border: none;
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 1rem;
		background-color: #cb356b;
		text-transform: uppercase;
		color: white;
		cursor: pointer;

		@include respond(phone) {
			margin-top: .3rem;
			border-radius: 1rem;
			padding: .5rem;
		}

		&:focus {
			outline: none;
		}
	}

	&__filter {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background-color: white;
		padding: .7rem;
		border-right: 1px solid rgba(0, 0, 0, .1);

		@include respond(phone) {
			width: 100%;
			margin: 0;
			padding: .5rem;
		}

		&:first-child {
			border-top-left-radius: 1rem;
			border-bottom-left-radius: 1rem;

			@include respond(phone) {
				border-top-right-radius: 1rem;
				border-bottom-left-radius: 0;
			}
		}
	}
}

.sorter {
	label {
		padding: .4rem;
		font-size: 1rem;
		text-transform: capitalize;
		border-radius: .3rem;
		transition: all .3s ease;
		cursor: pointer;
		color: rgba(0, 0, 0, .4);

		@include respond(phone) {
			font-size: .7rem;
			padding: .3rem;
		}
	}

	input[type="radio"] {
		display: none;
	}

	input[type="radio"]:checked + label {
		background-color: #cb356b;
		color: white;
	}

	&--sortby {
		display: flex;

		@include respond(phone) {
			justify-content: center;
		}

		label {
			margin: 1rem 0;
			padding: .4rem;
			font-size: 1rem;
			text-transform: capitalize;
			transition: all .3s ease;
			color: rgba(0, 0, 0, .4);
			cursor: pointer;
			border-bottom: 3px solid transparent;

			@include respond(phone) {
				font-size: .7rem;
				padding: .1rem;
				margin: 0;
			}
		}

		input[type="radio"] {
			display: none;
		}

		input[type="radio"]:checked + label {
			color: #cb356b;
			border-bottom: 3px solid #cb356b;
		}
	}
}

.square1,
.square2,
.square3,
.square4,
.square5,
.square6 {
	width: 50px;
	height: 50px;
	background-color: #cb356b;
	color: white;
	position: absolute;
	bottom: -1.6rem;
	z-index: -1000;
	border-radius: 1rem;
	border: 1px solid #cb356b;
	opacity: 0.1;
}

.square2 {
	left: 5rem;
}

.square3 {
	left: 10rem;
}

.square4 {
	right: 0;
}

.square5 {
	right: 5rem;
}

.square6 {
	right: 10rem;
}

h1 {
	color: #24243e;
	font-size: 2.2rem;
	margin-bottom: .4rem;
	font-family: 'Lobster', cursive;

	& + div {
		color: #cb356b;
		text-transform: uppercase;
		font-size: 4rem;
		margin-bottom: .4rem;
		text-align: center;
		font-weight: 900;
		font-family: 'Raleway', sans-serif;

		@include respond(phone) {
			font-size: 2rem;
		}

		span {
			color: white;
		}
	}
}

.main-header {
	text-align: center;
	font-size: 2rem;
	font-family: 'Lobster', cursive;

	@include respond(phone) {
		font-size: 1.2rem;
	}
}

.main-header-v2 {
	text-align: center;
	font-family: 'Lobster', cursive;
}

.information {
	background-color: #83a4d4;
	color: white;
	text-align: center;
	width: 30%;
	margin: 0 auto;
	margin-top: 2rem;
	padding: .3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: .3rem;

	@include respond(phone) {
		width: 93%;
		font-size: .8rem;
	}

	span {
		font-size: 1.4rem;
		margin-right: 1rem;
	}
}

.design-element {
	width: 50px;
	height: 50px;
	background-color: #cb356b;
	border-radius: 50%;
	color: white;
	position: absolute;
	bottom: -1.5rem;
	z-index: -1000;
}

.members {
	position: relative;
	text-align: center;
	margin-bottom: 2rem;

	@include respond(phone) {
		margin: 2rem 0;
	}

	&-background {
		position: absolute;
		color: #cb356b;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		font-size: 5rem;
		opacity: 0.05;
		letter-spacing: -.4rem;
		user-select: none;

		@include respond(phone) {
			font-size: 3.5rem;
			left: 10%;
			transform: translateX(0);
		}
	}

	&-header {
		color: #cb356b;
		font-size: 2.4rem;
	}

	&::after {
		content: "";
		width: 6rem;
		height: .3rem;
		background-color: #cb356b;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -1rem;
	}
}

.employees {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	margin-block-start: 0;
	padding-inline-start: 0;

	width: 100%;

	&-form {
		width: 100%;
		padding: 1rem 0;
		background: url("../images/background.jpg");
		background-position: center;
		background-size: cover;
		min-height: 40vh;
		border-bottom: 4px solid #cb356b;
		position: relative;
		margin-bottom: 4rem;

		@include respond(phone) {
			min-height: 50vh;
		}

		&--background {
			border-radius: 2rem;
			padding: 3rem;
			width: 50%;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			margin: 0 auto;
			overflow: hidden;
			position: absolute;
			bottom: -7rem;
			left: 50%;
			transform: translateX(-50%);

			@include respond(phone) {
				bottom: -7.5rem;
				width: 100%;
			}
		}

		&__sortinggroup {
			display: flex;
			justify-content: center;

			@include respond(phone) {
				flex-direction: column;
			}

			div {
				display: flex;
			}

			select {
				width: 18rem;
				height: 2.37rem;
				border: 1px solid rgba(0, 0, 0, .1);
				color: rgba(0, 0, 0, .6);

				&:focus {
					outline: none;
				}
			}
		}

		&__submit_wrap {
			display: flex;
			justify-content: center;
			margin-top: 1rem;
		}

		&__submit {
			background-color: green;
			color: white;
			border: 1px solid rgba(0, 0, 0, .1);
			border-radius: .3rem;
			padding: 1rem;
			cursor: pointer;
			font-size: 1.2rem;

			&:focus {
				outline: none;
			}
		}

		&__filtergroup {
			padding: 1rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			&-more {
				padding: 0.2rem 1.2rem;

				button {
					background-color: green;
					color: white;
					border: 1px solid rgba(0, 0, 0, .1);
					border-radius: .3rem;
					padding: .4rem;
					cursor: pointer;

					&:focus {
						outline: none;
					}
				}
			}

			&-x_wrap {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&-x {
				margin-left: .2rem;
				border-radius: .3rem;
				padding: 0.2rem .5rem;
				background-color: red;
				color: white;
				border: 1px solid rgba(0, 0, 0, .1);
				cursor: pointer;

				&:focus {
					outline: none;
				}
			}
		}

		&__filterline {
			display: flex;
			margin: .2rem auto;

			&--index {
				display: flex;
				align-items: center;
				justify-content: center;

				margin-right: .5rem;
				font-size: 1.1rem;
				color: white;
			}

			input {
				width: 18rem;
				height: 2.1rem;
				border: 1px solid rgba(0, 0, 0, .1);
				border-left: 4px solid #2c5364;
				border-top-right-radius: .5rem;
				border-bottom-right-radius: .5rem;

				&:focus {
					outline: none;
				}
			}

			select {
				width: 18rem;
				height: 2.37rem;
				border: 1px solid rgba(0, 0, 0, .1);
				color: rgba(0, 0, 0, .6);
				border-top-left-radius: .5rem;
				border-bottom-left-radius: .5rem;

				&:focus {
					outline: none;
				}
			}
		}
	}

	.employee {
		margin: 1rem;
		margin-top: 8rem;
		border-bottom: 1px solid rgba(0, 0, 0, .1);
		display: flex;
		flex-direction: column;
		transition: all .4s ease;
		background-color: white;
		border-radius: 3rem;
		backface-visibility: hidden;
		box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, .05);

		&:hover {
			border-bottom: 1px solid #cb356b;
			transform: translateY(-1rem);
		}

		&__img {
			width: 10rem;
			height: 10rem;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;
			margin-bottom: 0.5rem;
			position: relative;
			top: -2.5rem;

			& > img {
				background-size: contain;
				background-position: center;
				width: 10rem;
				height: 10rem;
				border-radius: 50%;
				padding: 1rem;
			}
		}

		&__head {
			color: #cb356b;
			font-weight: 700;
			font-size: 1.4rem;
			padding: .1rem;
			text-align: center;
			text-transform: capitalize;
		}

		&__bottom {
			display: flex;
			flex-direction: column;
			padding: 1rem;
			align-items: flex-start;
			margin: 0 auto;

			&--links {
				display: flex;
				justify-content: space-evenly;

				& > * {
					margin-right: 1rem;
				}

				.btn-delete {
					border: none;
					background-color: #f00000;
					border-radius: .2rem;
					color: white;
					opacity: .7;
					transition: all .3s ease;
					cursor: pointer;

					&:hover {
						opacity: 1;
					}
				}
			}

			div span:first-child {
				i {
					font-size: 1.2rem;
					background-color: #ee73a0;
					color: white;
					padding: .3rem;
					margin-right: .5rem;
					margin-bottom: .3rem;
				}
			}

			div span:last-child {
				color: rgba(0, 0, 0, 0.7);
			}

			hr {
				width: 100%;
				background-color: rgba(0, 0, 0, .01);
			}

			&--info {
				text-align: right;

				&-experience {
					color: rgba(0, 0, 0, .6);
					font-size: 0.9rem;
				}

				&-department {
					background-color: #cb356b;
					color: white;
					display: inline-block;
					padding: 0.2rem 0.2rem;
					margin: .2rem 0;
					text-align: center;
				}

				&-link {
					text-decoration: none;
					background-color: #cb356b;
					padding: .2rem .7rem;
					margin-top: .2rem;
					border-radius: .2rem;

					&:link {
						color: white;
					}

					&:visited {
						color: white;
					}
				}
			}
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
