*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 100%;
	scroll-behavior: smooth;
	scrollbar-width: none;
}

html::-webkit-scrollbar {
	width: 0;
}

body {
	box-sizing: border-box;
	overflow-y: scroll;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

select,
option {
	-webkit-appearance: none;
	background-color: rgba(24, 40, 72, .8);
	border-color: transparent;
	font-family: Arial, ArialHebrew, sans-serif;
	text-align: center;
	color: #fff;
}

.Swipe {
	&__wrapper {
		position: relative;
		transition: max-height 0.5s ease;
		max-height: 1000px;
		transform-origin: top;
		overflow: hidden;
		width: 100%;
		cursor: pointer;
	}

	&__background {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		font-size: 2rem;

		padding-right: 16px;
		color: white;
		background-color: $color-cancel;
		box-sizing: border-box;
	}

	&__item {
		width: 100%;
		align-items: center;
		box-sizing: border-box;
		background-color: #fff;
		height: 100%;
		display: flex;

		&--bouncing {
			transition: transform 0.2s ease-out;
		}
	}
}

.delete-icon {
	height: 10rem;
	padding-right: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	z-index: 1;
}

.somanydepartments {
	padding: 2rem;
}

aside {
	margin: 2rem auto;
	width: 80%;

	@include respond(phone) {
		width: 100%;
	}
}
