.message {
	width: 40%;
	margin: 2rem auto;
	color: white;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: fixed;
	bottom: .5rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 4000;
	animation: fadeIn 2s ease;

	@include respond(phone) {
		width: 100%;
		bottom: 0;
		margin: 0;
		font-size: .7rem;
	}

	&-success {
		background-color: $color-success;
	}

	&-error {
		background-color: $color-error;
	}

	&--icon {
		font-size: 2rem;
		padding: 1.5rem;

		@include respond(phone) {
			font-size: 1.6rem;
			padding: 1.2rem;
		}
	}

	&--title {
		font-weight: 700;

		@include respond(phone) {
			font-size: .9rem;
		}
	}

	&--hide {
		position: absolute;
		top: -.3rem;
		right: 2rem;
		width: 1.3rem;
		height: 1.3rem;
		@include flexCenter;
		border-radius: 50%;
		cursor: pointer;
		font-weight: 700;

		&__error {
			background-color: $color-error;

			&:hover {
				background-color: $color-success;
			}
		}

		&__success {
			background-color: $color-success;

			&:hover {
				background-color: $color-error;
			}
		}
	}
}

.routerLink {
	@include flexCenter;

	color: white;
	text-decoration: none;

	div {
		@include flexCenter;
		cursor: pointer;
		padding: .2rem 0;
	}

	&--icon {
		font-size: 1.6rem;
		color: white;
		margin-right: .2rem;

		@include respond(phone) {
			font-size: 1rem;
		}
	}

	&--title {
		font-size: 1rem;

		@include respond(phone) {
			font-size: .7rem;
		}
	}
}
